# SmartThings Direct Connected ESP32 profile (ESP-IDF 5.0.7).
CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.smartthings.4MB.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.smartthings.4MB.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

CONFIG_STDK_IOT_CORE=y
CONFIG_STDK_IOT_CORE_BSP_SUPPORT_ESP32=y
# CONFIG_STDK_IOT_CORE_EASYSETUP_DISCOVERY_SSID is not set
# CONFIG_STDK_IOT_CORE_EASYSETUP_HTTP is not set
CONFIG_STDK_IOT_CORE_EASYSETUP_BLE=y
CONFIG_STDK_IOT_CORE_EASYSETUP_DISCOVERY_ADVERTISER=y
CONFIG_STDK_IOT_CORE_SUPPORT_STNV_PARTITION=y
CONFIG_STDK_IOT_CORE_CRYPTO_SUPPORT_ED25519=y
CONFIG_STDK_IOT_CORE_SECURITY_BACKEND_SOFTWARE=y
CONFIG_STDK_IOT_CORE_FS_HW_ENCRYPTION=y
CONFIG_STDK_IOT_CORE_NET_MBEDTLS=y
CONFIG_STDK_IOT_CORE_LOG_LEVEL_ERROR=y
CONFIG_STDK_IOT_CORE_LOG_LEVEL_WARN=y
CONFIG_STDK_IOT_CORE_LOG_LEVEL_INFO=y

CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_GATTS_ENABLE=y
CONFIG_BT_GATTC_ENABLE=y
CONFIG_BT_BLE_SMP_ENABLE=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y

CONFIG_LWIP_LOCAL_HOSTNAME="ad2iot-stsdk"
CONFIG_LWIP_IPV6=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE_PATH="certs"
CONFIG_MBEDTLS_ECDH_LEGACY_CONTEXT=y
CONFIG_MBEDTLS_ECP_RESTARTABLE=y
CONFIG_SPIFFS_USE_MAGIC=y
CONFIG_SPIFFS_USE_MAGIC_LENGTH=y
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y

CONFIG_AD2IOT_TOP=y
CONFIG_AD2IOT_USE_WIFI=n
CONFIG_AD2IOT_USE_ETHERNET=n
CONFIG_AD2IOT_FTP_DAEMON=n
CONFIG_AD2IOT_MQTT_CLIENT=n
CONFIG_AD2IOT_WEBSERVER_UI=n
CONFIG_AD2IOT_SER2SOCKD=n
CONFIG_AD2IOT_NETWORK_CLI=n
CONFIG_AD2IOT_TWILIO_CLIENT=n
CONFIG_AD2IOT_PUSHOVER_CLIENT=n
CONFIG_AD2IOT_USDUPDATE=n
CONFIG_AD2IOT_OTAUPDATE=y
